 
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body{
	padding: 20px;
	font-family: 'Roboto', sans-serif;

}

.loginPage{
	padding: 20px;
	border: solid rgb(223, 216, 216);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;

}

#image{
	width: 90px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	padding: 2px;

}

input{
	border: 1px solid rgb(179, 170, 170);
	
	border-radius: 2px;
	padding: 6px;
}

button{
	background-color: yellow;
	padding: 5px;
	border-radius: 10px;
}

.highlights{
	color: blue;
}


#userInfo, span {
	font-size: smaller;
}

hr{
	border: 0.1px solid rgb(224, 224, 224);
}

.footerLinks{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding: 2px;
}


footer span{
	color: blue;
}

footer p{
	font-size: smaller;
	text-align: center;
}


@media only screen and (min-width: 800px) {
	body{
		padding: 200px;
		padding-top: 5px;
	
	}


	#image{
		width: 170px;
		padding: 5px;
	
	}

}

@media only screen and (min-width: 1200px) {
	body{
		padding: 400px;
		padding-top: 20px;
	
	}


	#image{
		width: 170px;
		padding: 10px;
	
	}

}